@font-face {
    font-family: "LUI icons";
    src: url(../node_modules/leonardo-ui/dist/lui-icons.woff) format('woff'),
       url(../node_modules/leonardo-ui/dist/lui-icons.ttf) format('truetype');
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.chart-container {
    width: 90%;
    height: 90%;
    position: relative;
}

.container {
    margin: 7.5% auto 0 auto;
    height: 50%;
    width: 50%;
}

#pie {
    width: 60%;
}

#piechart {
    float: left;
    width: 70%;
}

#pie-selection-area {
    width: 60%;
}

.pie-table {
    width: 30%;
    float: left;
}

#ms-table, .ms-table-header, .ms-table-cell {
    border: 1px solid black !important;
    border-collapse: collapse;
}

.switch-label {
    margin-left: 1%;
}

.lui-switch {
    float: left;
}

.selection-group {
    width: 40%;
    margin-right: 10%;
    float: left;
}